<div class="tab combat" data-group="primary" data-tab="combat">
  <div class="combat-tables">

    <h2>{{localize 'MYTHRAS.Combat'}}</h2>
    <div class="top-combat-tables">
      <div class="tables-left">

        <div>
          <h3 class="armorLocationHeader">
            <span>{{localize 'MYTHRAS.Hit_Locations'}}</span><span>{{localize 'MYTHRAS.Armor_Penalty'}}:
              {{data.attributes.armorPenalty.value}}</span><a class="roll-hitlocations-button" title="Roll 1d20"
              data-roll="1d20"
              data-label="{{#each actor.hitLocations as |item|}}{{item.name}}/{{item.data.rollRangeStart}}/{{item.data.rollRangeEnd}},{{/each}}">
              {{localize 'MYTHRAS.Roll2'}} 1d20</a>
          </h3>
          <table id="hitLocation-edit" class="hitLocation-table">
            <thead>
              <th class="hitloc-location-cell">{{localize 'MYTHRAS.Location'}}</th>
              <th class="hitloc-range-cell">{{localize 'MYTHRAS.Range2'}}</th>
              <th class="hitloc-armor-cell">{{localize 'MYTHRAS.Armor'}}</th>
              <th class="hitloc-ap-cell">{{localize 'MYTHRAS.AP'}}</th>
              <th class="hitloc-hp-cell ">
                <div class="hitLoc-flex-cell">
                  <p class="hit-loc-text">{{localize 'MYTHRAS.HP'}}</p>
                  <span class="max-hp-mod">
                    <span>
                      +
                    </span>
                    <input id="maxHpMod_all" type="text" name="data.attributes.hitPointMod.mod" class=""
                      onclick="this.select()" value="{{data.attributes.hitPointMod.mod}}" />
                  </span>
                </div>
              </th>
            </thead>
            <tbody>
              {{#each actor.hitLocations as |item id|}}
              <tr class="item" data-item-id="{{item.data._id}}">
                <td class="hitloc-location-cell">
                  <input id="{{id}}_{{item.data._id}}_name_hitLoc" type="text" name="item.data.name" data-dtype="text"
                    value="{{item.data.name}}" />
                </td>
                <td class="hitLoc-flex-cell hitloc-range-cell">
                  <input id="{{id}}_{{item.data._id}}_rollRangeStart_hitLoc" type="text"
                    name="item.data.data.rollRangeStart" value="{{item.data.data.rollRangeStart}}" />
                  <p class="hit-loc-text">-</p>
                  <input id="{{id}}_{{item.data._id}}_rollRangeEnd_hitLoc" type="text"
                    name="item.data.data.rollRangeEnd" value="{{item.data.data.rollRangeEnd}}" />
                </td>
                <td class="hitloc-armor-cell">
                  {{item.data.data.armors}}
                </td>
                <td class="hitloc-ap-cell">
                  <p class="hit-loc-text">{{item.data.data.ap}}</p>
                </td>
                <td class="hitLoc-flex-cell hitloc-hp-cell">
                  <input id="{{id}}_{{item.data._id}}_currentHp_hitLoc" type="number" name="item.data.data.currentHp"
                    value="{{item.data.data.currentHp}}" />
                  <p class="max-hp"> / {{item.data.data.maxHp}}</p>
                  <div class="max-hp-mod">
                    <span>
                      +
                    </span>
                    <input id="{{id}}_{{item.data._id}}_maxHpMod_hitLoc" type="text" name="item.data.data.maxHpMod"
                      class="" onclick="this.select()" value="{{item.data.data.maxHpMod}}" />
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tables-right">
        <div>
          <h3>
            <span>{{localize 'MYTHRAS.Resistances'}}</span>
          </h3>
          <table class="resistances-table">
            <thead>
              <th>
                {{localize 'MYTHRAS.Name'}}
              </th>
              <th>
                {{localize 'MYTHRAS.Base_Char'}}
              </th>
              <th>
                {{localize 'MYTHRAS.Roll'}}
              </th>
            </thead>
            <tbody>
              {{#with (findItemByName actor.standardSkills "Brawn") as |item|}}
              <tr class="item" data-item-id="{{item.data._id}}">
                <td>
                  <a class="item-name item-control item-edit">
                    {{item.data.name}}
                  </a>
                </td>
                <td>
                  {{localizeSkillAbbrev item.data.data.primaryChar}} + {{ localizeSkillAbbrev
                  item.data.data.secondaryChar }}
                </td>
                <td>
                  <a class="skill-val rollableSkill" data-roll="1d100"
                    data-label="{{item.data.name}},{{item.data.data.totalVal}}">
                    {{item.data.data.totalVal}}%
                  </a>
                </td>
              </tr>
              {{/with}}
              {{#with (findItemByName actor.standardSkills "Endurance") as |item|}}
              <tr class="item" data-item-id="{{item.data._id}}">
                <td>
                  <a class="item-name item-control item-edit">
                    {{item.data.name}}
                  </a>
                </td>
                <td>
                  {{localizeSkillAbbrev item.data.data.primaryChar}} + {{ localizeSkillAbbrev
                  item.data.data.secondaryChar }}
                </td>
                <td>
                  <a class="skill-val rollableSkill" data-roll="1d100"
                    data-label="{{item.data.name}},{{item.data.data.totalVal}}">
                    {{item.data.data.totalVal}}%
                  </a>
                </td>
              </tr>
              {{/with}}
              {{#with (findItemByName actor.standardSkills "Evade") as |item|}}
              <tr class="item" data-item-id="{{item.data._id}}">
                <td>
                  <a class="item-name item-control item-edit">
                    {{item.data.name}}
                  </a>
                </td>
                <td>
                  {{localizeSkillAbbrev item.data.data.primaryChar}} + {{ localizeSkillAbbrev
                  item.data.data.secondaryChar }}
                </td>
                <td>
                  <a class="skill-val rollableSkill" data-roll="1d100"
                    data-label="{{item.data.name}},{{item.data.data.totalVal}}">
                    {{item.data.data.totalVal}}%
                  </a>
                </td>
              </tr>
              {{/with}}
              {{#with (findItemByName actor.standardSkills "Willpower") as |item|}}
              <tr class="item" data-item-id="{{item.data._id}}">
                <td>
                  <a class="item-name item-control item-edit">
                    {{item.data.name}}
                  </a>
                </td>
                <td>
                  {{localizeSkillAbbrev item.data.data.primaryChar}} + {{ localizeSkillAbbrev
                  item.data.data.secondaryChar }}
                </td>
                <td>
                  <a class="skill-val rollableSkill" data-roll="1d100"
                    data-label="{{item.data.name}},{{item.data.data.totalVal}}">
                    {{item.data.data.totalVal}}%
                  </a>
                </td>
              </tr>
              {{/with}}
            </tbody>
          </table>
        </div>
        <div>
          <h3>
            <span>{{localize 'MYTHRAS.Wounds_and_Conditions'}}</span>
          </h3>
          <textarea name="data.conditionsAndWounds">{{data.conditionsAndWounds}}</textarea>
        </div>
      </div>
    </div>
    <div>
      <h3>
        <span>
          {{localize 'MYTHRAS.Combat_Styles'}}
        </span>
        <a class="add-skills-button item-create" title="Create item" data-type="combatStyle">
          +
        </a>
      </h3>
      <table class="basic-skills-table">
        <thead>
          <th>
            {{localize 'MYTHRAS.Name'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Base_Char'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Traits'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Weapons'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Roll'}}
          </th>
          <th class="delete-column">
            <i class="fas fa-trash"></i>
          </th>
        </thead>
        <tbody>
          {{#each actor.combatStyles as |item id|}}
          <tr class="item" data-item-id="{{item.data._id}}">
            <td>
              <a class="item-name item-control item-edit">
                {{item.data.name}}
              </a>
            </td>
            <td>
              {{localizeSkillAbbrev item.data.data.primaryChar}} + {{localizeSkillAbbrev item.data.data.secondaryChar}}
            </td>
            <td>
              {{item.data.data.traits}}
            </td>
            <td>
              {{item.data.data.weapons}}
            </td>
            <td>
              <a class="skill-val rollableSkill" data-roll="1d100"
                data-label="{{item.data.name}},{{item.data.data.totalVal}}">
                {{item.data.data.totalVal}}%
              </a>
            </td>
            <td>
              <a class="item-control item-delete delete-column" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <h2>
      {{localize 'MYTHRAS.Weapons'}}
    </h2>
    <div>
      <h3>
        <span>
          {{localize 'MYTHRAS.Melee_Weapons'}}
        </span>
        <a class="add-equipment-button item-create" title="Create item" data-type="melee-weapon">
          +
        </a>
      </h3>
      <table class="weapons-table">
        <thead>
          <th>
            {{localize 'MYTHRAS.Name'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Damage'}}
          </th>
          <th>
            {{localize 'MYTHRAS.DM'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Size'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Reach'}}
          </th>
          <th>
            {{localize 'MYTHRAS.AP/HP'}}
          </th>
          <th class="delete-column">
            <i class="fas fa-trash"></i>
          </th>
        </thead>
        <tbody>
          {{#each actor.meleeWeapons as |item id|}}
          <tr class="item" data-item-id="{{item.data._id}}">
            <td>
              <a class="item-name item-control item-edit">
                {{item.data.name}}
              </a>
            </td>
            <td>
              <a class="rollableMeleeDamage" data-roll="{{item.data.data.damage}}" data-label="{{item.data._id}}">
                {{item.data.data.damage}}
              </a>
            </td>
            <td>
              <input class="damageModCheck" type="checkbox" name="data.data.damageModifier" {{checked
                data.data.damageModifier}} />
            </td>
            <td>
              {{item.data.data.size}}
            </td>
            <td>
              {{item.data.data.reach}}
            </td>
            <td>
              {{item.data.data.ap}} / {{item.data.data.hp}}
            </td>
            <td>
              <a class="item-control item-delete delete-column" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <hr />
      <h3>
        <span>
          {{localize 'MYTHRAS.Ranged_Weapons'}}
        </span>
        <a class="add-equipment-button item-create" title="Create item" data-type="ranged-weapon">
          +
        </a>
      </h3>
      <table class="weapons-table">
        <thead>
          <th>
            {{localize 'MYTHRAS.Name'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Damage'}}
          </th>
          <th>
            {{localize 'MYTHRAS.DM'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Force'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Impale_Size'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Range'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Load'}}
          </th>
          <th>
            {{localize 'MYTHRAS.Ammo'}}
          </th>
          <th class="delete-column">
            <i class="fas fa-trash"></i>
          </th>
        </thead>
        <tbody>
          {{#each actor.rangedWeapons as |item id|}}
          <tr class="item" data-item-id="{{item.data._id}}">
            <td>
              <a class="item-name item-control item-edit">
                {{item.data.name}}
              </a>
            </td>
            <td>
              <a class="rollableRangedDamage" data-roll="{{item.data.data.damage}}" data-label="{{item.data._id}}">
                {{item.data.data.damage}}
              </a>
            </td>
            <td>
              <input class="damageModCheck" type="checkbox" name="data.data.damageModifier" {{checked
                data.data.damageModifier}} />
            </td>
            <td>
              {{item.data.data.force}}
            </td>
            <td>
              {{item.data.data.impale-size}}
            </td>
            <td>
              {{item.data.data.range.close}}/{{item.data.data.range.effective}}/{{item.data.data.range.long }}
            </td>
            <th>
              {{item.data.data.load}}
            </th>
            <th>
              {{item.data.data.ammo}}
            </th>
            <td>
              <a class="item-control item-delete delete-column" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>