<div class="tab notes" data-group="primary" data-tab="notes">
  <h2>
    {{localize 'MYTHRAS.Journal'}}
  </h2>
  <div>
    <div class="desc" data-group="primary" data-tab="notes">
      {{editor data-dtype='String' content=data.journal target="data.journal" button=true owner=owner editable=editable }}
    </div>
  </div>
</div>