div.core {
  h2 {
    margin: 0;
    margin-bottom: 8px;
    border: none;
    color: #191813;
  }

  hr {
    margin: 15px 0px;
    color: black;
    border-color: black;
    background-color: black;
    height: 1px;
    border: 0;
  }

  input:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  input:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .core-top-flex {
    display: flex;

    input {
      border: 0;
    }
    input:focus {
      outline: none;
      outline-style: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .input-label {
      font-size: 0.7em;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .core-personal-info {
      padding-right: 10px;
      margin-right: 10px;
      flex: 2;
      border-right: solid 1px rgba(0, 0, 0, 0.2);
      .core-personal-flex {
        input {
          margin-bottom: 8px;
          border-radius: 0;
          border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
          background-color: rgba(0, 0, 0, 0.05);
        }

        input:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        input:focus {
          background-color: rgba(0, 0, 0, 0.1);
        }

        .core-personal-left-info {
          padding-right: 3px;
          flex: 1;
        }
        .core-personal-right-info {
          flex: 1;
          .age-height-weight-flex {
            display: flex;

            .age {
              flex: 3;
              margin-right: 2px;
            }

            .height {
              flex: 4;
              margin-right: 2px;
            }

            .weight {
              flex: 4;
            }
          }
        }
        display: flex;
      }
      .fatigue-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        select {
          border: 0;
          border-radius: 0;
          background-color: rgba(0, 0, 0, 0.05);
        }
        select:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        select:focus {
          outline: none;
          outline-style: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          background-color: rgba(0, 0, 0, 0.1);
        }
        p {
          margin: 0;
        }
      }
    }
    .core-characteristics-attributes-contianer {
      flex: 3;
      .core-characteristics {
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 68px;
        }

        display: flex;
        justify-content: space-between;
      }
      label {
        margin-top: 5px;
        font-size: 0.7em;
        margin-bottom: 8px;
      }

      input {
        width: 50px;
        height: 50px;
        font-size: 1.2em;
        text-align: center;
      }

      .core-attributes div {
        display: flex;
        justify-content: space-around;
        .attribute-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .attribute {
            min-width: 50px;
            padding: 5px;
            height: 50px;
            border: solid rgba(0, 0, 0, 0.2) 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
              margin: 0;
              font-weight: bold;
              font-size: 1.2em;
              text-align: center;
            }
            div {
              width: 25px;
              input {
                font-size: 0.7em;
                height: 15px;
                width: 15px;
                margin: 0;
                margin-top: 2px;
                text-align: left;
              }
            }
          }
          .attribute-label {
            font-size: 0.7em;
            width: 60px;
            margin-top: 5px;
            text-align: center;
            margin-bottom: 8px;
          }
        }
      }

      .movement-container {
        .enc-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          .enc {
            width: 70px;
            padding: 5px;
            height: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
              margin: 0;
              font-weight: bold;
              font-size: 1.3em;
              text-align: center;
            }
          }
          .enc-label {
            font-size: 0.9em;
            width: 70px;
            margin-top: 5px;
            text-align: center;
            margin-bottom: 8px;
          }
        }

        display: flex;
        justify-content: flex-end;
        align-items: center;
        .movement-inner-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 308px;
          border: solid 1px rgba(0, 0, 0, 0.2);
          padding: 5px;
        }
        h3 {
          margin: 0;
          margin-right: 5px;
        }
        p {
          width: 40px;
          font-size: 1.1em;
          text-align: center;
          margin: 0;
        }
        .movement-label {
          width: 40px;
          font-size: 0.7em;
          margin-top: 5px;
          text-align: center;
        }
        div {
          .movement-mod {
            display: flex;
            width: 30px;
            margin-left: 22px;
            input {
              font-size: 0.7em;
              height: 15px;
              width: 15px;
              margin: 0;
              margin-top: 2px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .core-skills {
    .skill-tables {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      > div {
        .add-skills-button {
          float: right;
          margin-right: 10px;
          font-size: 1.2em;
        }
        div {
          margin-bottom: 10px;
          border: solid rgba(0, 0, 0, 0.2) 1px;
          padding: 5px;
          table {
            background: none;
            border: none;
          }

          th {
            text-align: left;
          }

          thead {
            background: none;
            color: black;
            text-shadow: none;
          }

          .delete-column {
            width: 20px;
          }
        }
      }
    }
  }
}
