div.equipment {
  .damageModCheck {
    pointer-events: none;
  }
  .enc-row {
    display: flex;
    align-items: row;
    justify-content: space-between;
    .enc-value {
      font-size: 1.25em;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 5px 5px 5px 5px;
      border-radius: 5px;
      min-width: 36px;
      text-align: center;
    }
    .enc-section {
      display: flex;
      align-items: row;
      font-size: 1.2em;
      align-items: center;
    }
    .enc-tag {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  .equipment-tables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    h2 {
      border: 0;
    }
    > div {
      width: 100%;
      .add-equipment-button {
        float: right;
        margin-right: 8px;
        font-size: 1.2em;
      }
      margin-bottom: 20px;
      border: solid rgba(0, 0, 0, 0.2) 1px;
      padding: 5px;
      h3 {
        margin-bottom: 0px;
        color: #840701;
      }
      table {
        margin: 0;
        background: none;
        border: none;
      }

      th {
        text-align: left;
      }

      thead {
        background: none;
        color: black;
        text-shadow: none;
      }

      .delete-column {
        width: 20px;
      }
    }

    .top-equipment-tables {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border: 0;
      padding: 0;
      > div {
        width: 49.5%;
        .add-items-button {
          float: right;
          margin-right: 8px;
          font-size: 1.2em;
        }
        div {
          border: solid rgba(0, 0, 0, 0.2) 1px;
          padding: 5px;
          table {
            background: none;
            border: none;
          }

          th {
            text-align: left;
          }

          thead {
            background: none;
            color: black;
            text-shadow: none;
          }

          .delete-column {
            width: 20px;
          }
        }
      }
    }
  }
}
