<form class="{{cssClass}} item-sheet flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-flex">
      <img class="token-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50" />
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
      </div>
    </div>
  </header>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}

  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="equip-section">
      <div class="equipment-core">
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.ENC'}}</h3>
            <input type="text" name="data.encumbrance" value="{{data.encumbrance}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Quantity'}}</h3>
            <input type="text" name="data.quantity" value="{{data.quantity}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.AP'}}</h3>
            <input type="text" name="data.ap" value="{{data.ap}}" />
          </div>
          <div>/</div>
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.HP'}}</h3>
            <input type="text" name="data.hp" value="{{data.hp}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Value'}}</h3>
            <input type="text" name="data.value" value="{{data.value}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="equip-section">
      <div class="weapon-core">
        <div class="weapon-core-section">
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Damage'}}</h3>
            <input type="text" name="data.damage" value="{{data.damage}}" />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.DM'}}</h3>
            <input type="checkbox" name="data.damageModifier" {{checked data.damageModifier}} />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Force'}}</h3>
            <select id="char-change" name="data.force" data-dtype="String">
              {{#select data.force}}
              <option value="S">{{localize 'MYTHRAS.Small'}}</option>
              <option value="M">{{localize 'MYTHRAS.Medium'}}</option>
              <option value="L">{{localize 'MYTHRAS.Large'}}</option>
              <option value="H">{{localize 'MYTHRAS.Huge'}}</option>
              <option value="E">{{localize 'MYTHRAS.Enormous'}}</option>
              <option value="BE">{{localize 'MYTHRAS.Beyond_Enormous'}}</option>
              {{/select}}
            </select>
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Impale_Size'}}</h3>
            <select id="char-change" name="data.impale-size" data-dtype="String">
              {{#select data.impale-size}}
              <option value="S">{{localize 'MYTHRAS.Small'}}</option>
              <option value="M">{{localize 'MYTHRAS.Medium'}}</option>
              <option value="L">{{localize 'MYTHRAS.Large'}}</option>
              <option value="H">{{localize 'MYTHRAS.Huge'}}</option>
              <option value="E">{{localize 'MYTHRAS.Enormous'}}</option>
              <option value="BE">{{localize 'MYTHRAS.Beyond_Enormous'}}</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div class="weapon-core-section">
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Range'}}</h3>
            <div class="range-info">
              <div class="weapon-piece">
                <h3 class="range-piece">{{localize 'MYTHRAS.Close'}}</h3>
                <input type="text" name="data.range.close" value="{{data.range.close}}" />
              </div>
              <div class="weapon-piece">
                <h3 class="range-piece">{{localize 'MYTHRAS.Effective'}}</h3>
                <input type="text" name="data.range.effective" value="{{data.range.effective}}" />
              </div>
              <div class="weapon-piece">
                <h3 class="range-piece">{{localize 'MYTHRAS.Long'}}</h3>
                <input type="text" name="data.range.long" value="{{data.range.long}}" />
              </div>
            </div>
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Load'}}</h3>
            <input type="text" name="data.load" value="{{data.load}}" />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Ammo'}}</h3>
            <input type="text" name="data.ammo" value="{{data.ammo}}" />
          </div>
        </div>
        <div>
          <h3 class="core-info">{{localize 'MYTHRAS.Combat_Effects'}}</h3>
          <input type="text" name="data.combat-effects" value="{{data.combat-effects}}" />
        </div>
      </div>
    </div>
    <h2>{{localize 'MYTHRAS.Description'}}</h2>
    <div class="desc skill-section" data-group="primary">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      <!--<textarea class="editor" name="data.description">{{data.description}}</textarea>-->
    </div>
  </section>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}
</form>